@charset "UTF-8";

@media print {
    main h1 {
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 1px solid black;
        color: black;
    }

    main::after {
        content: 'Impressão feita pelo site www.exemplo.com';
        text-decoration: overline;
    }
}


@media screen and (min-width:769px) and (max-width: 992px) {
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }

    img#phone { display: none;}
    img#tablet { display: block;}
    img#pc { display: none;}
    img#print { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width:993px) and (max-width: 1200px) {
    body {
        background-image: url('../imagens/back-pc.jpg');
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#pc { display: block;}
    img#print { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 1201px) {
    body {
        background-image: url('../imagens/back-tv.jpg');
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#pc { display: none;}
    img#print { display: none;}
    img#tv { display: block;}
}