@charset "UTF-8";

/* ESTILO TABLET */

section {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 50vh;
}

#foto img {
    width: 100%;
    height: 100%;
}

#login {
    height: 100%;
    margin: 5% 0px;
}


