@charset "UTF-8";

/* ESTILO TABLET */

section {
    width: 90vw;
    height: 320px;
}

#foto {
    width: 40%;
    height: 100%;
    float: left;
}

#login {
    width: 60%;
    height: 100%;
    margin-top: 20px;
    float: right;
}


