@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(104, 104, 104);
    
}

h1 {
    text-align: center;
    padding: 5px;
    color: white;
}

li {
    display: block;
    list-style-type: none;
    padding: 3px;
    background-color: rgb(61, 61, 61);
    text-align: center;
    border-top: 2px solid grey;
}

span#icone-menu {
    display: block;
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    padding: 5px;
}

span#icone-menu:hover {
    background-color: rgb(233, 232, 232);
    color: rgb(61, 61, 61);
}

menu {
    display: none;
}

menu a {
    color: white;
    text-decoration: none;
}

menu li:hover {
    background-color: rgb(165, 165, 165);
}

main {
    margin: auto;
    width: 90vw;
}

main h2 {
    text-align: center;
    padding: 10px;
}

main p {
    text-align: justify;
    margin-top: 20px;
    text-indent: 20px;
}


